{% comment %}
  The contents of the page.gallery.liquid template can be found in /sections/page-gallery__main.liquid
{% endcomment %}

<main id="template-{{ template | replace: '.', '-' | handle }}" class="shopify-section brace-advisor-page" data-check-for-order="true">
	{% section 'brace-advisor' %}
</main>